html{
	scroll-behavior: smooth;
	z-index: 0;
}
/*eleje*/
*{
	margin:0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	list-style: none;
}
body{
	min-height: 100vh;
}
/*szinek*/
header{
	position: fixed;
	width: 100%;
	top: 0;						/*#b38b6d világos barna*/	
	z-index: 1000;				/*#413839  sötét barna*/
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 20px 5%;
	transition: 0.3s ease-in-out;

}

.hatter{
	background-color: white;
	color:#413839 ;
}

.logo{
	display: flex;
	padding-left: 25px;

}
.logo i{
	color: #b38b6d;
	font-size: 25px;
	
}
.logo span{
	color: white;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
}
.navbar{
	display: flex;
	align-items: center;
}

.navbar a {
	color: white;
	font-size: 20px;
	font-weight: 500;
	padding: 5px 0;
	margin: 0px 20px;
	transition: all .50s ease;
	text-decoration: none;
	border-radius: 25px;
	transition: 0.3s ease-in-out;
}

.navbar a:hover{
	background-color:#b38b6d;
	border-radius: 25px;
	width: 10px;
	height: 10px;
	padding: 10px;
	transition: 0.3s ease-in-out;
	color: white ;
}

.navbar a.active{
	font-weight: bold;
	font-size: 23px;
	background-color: #b38b6d;  /*#b38b6d barna*/       
	border-radius: 25px;		/*#54626F szürke*/
	width: 10px;				/*#413839 barnás feketés*/
	height: 10px;
	padding: 10px;
	color: white;
}




.navbar a.active:hover{
	padding-left: 20px;
	padding-right: 20px;

}

.main{
	display: flex;
	align-items: center;
	color: white;
	font-size: 20px;
	font-weight: 500;
	transition: all .50s ease;
}

.main a{
	display: flex;
	align-items: center;
	text-align: center;

	margin-left: 10px;
	color: white;
	font-weight: 500;
	font-size: 25px;
	transition: all .50s ease;

}

#menu-icon{
	font-size: 35px;
	color: white;
	cursor: pointer;
	z-index: 10001;
	display: none;
}

.inverted {
    background-color: #413839;
 
  }

/*modal1*/

   #myImg {
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
   }

   #myImg:hover {
      opacity: 0.7;
   }

   /* The Modal */

   .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      padding-top: 100px;
      /* Location of the box */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.9);
      /* Black w/ opacity */
      transition: all 0.5s ease;
   }

   /* Modal Content (image) */

   .modal-content {
      margin: auto;
      display: block;
      width: 90%;
      max-width: 1000px;
	   }


  

   /* Add Animation */

   .modal-content,
   #caption {
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
   }

   @-webkit-keyframes zoom {
      from {
         -webkit-transform: scale(0);
      }
      to {
         -webkit-transform: scale(1);
      }
   }

   @keyframes zoom {
      from {
         transform: scale(0);
      }
      to {
         transform: scale(1);
      }
   }

   /* The Close Button */

   .close {
      position: absolute;
      right: 80px;
      color: #f1f1f1;
      font-size: 60px;
      font-weight: bold;
      transition: 0.3s;
   }

   .close:hover,
   .close:focus {
      color: #b38b6d;
      text-decoration: none;
      cursor: pointer;
   }

   /* 100% Image Width on Smaller Screens */

   
   @media only screen and (max-width: 1280px) {
      .modal-content {
         width: 80%;
      }
      .modal .close{
      	right: 35px;
      }
   }

   @media only screen and (max-width: 1000px){
   	.modal-content{
   		width: 80%;
   	}
   }


   @media only screen and (max-width: 900px) {
      .modal-content {
         width: 98%;
      }
      .modal .close{
      	right: 35px;
      }
   }
   .modal .close{
      	right: 40px;
      	top: 85px;
      }

   @media only screen and (max-width: 700px) {
      .modal-content {
         width: 90%;
      }
   }
   @media only screen and (max-width: 500px) {
      .modal-content {
         width: 98%;
      }
      .modal .close{
      	right: 5px;
      	top: 80px;
      }
      .modal{
      	padding-top: 100px;
      }
   }


/*háttér*/
/*szek1*/ /*háttér*/
.section1{
	height: 920px;
	background-image: url("wall2.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
}





.section1 h1{
	text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
}
.section1 #szo{
	text-decoration: none;
	color: #b38b6d;
	font-weight: bolder;	
}

/*szek2*/
.section2{
background: rgb(180,161,142);
background: linear-gradient(180deg, rgba(180,161,142,0.3) 0%, rgba(255,255,255,1) 100%);
display: flex;
	width: 100%;
	justify-content: space-around;
	padding: 15px 15px 15px 15px;
}

.section3{
background: rgb(180,161,142);
background: linear-gradient(0deg, rgba(180,161,142,0.3) 0%, rgba(255,255,255,1) 100%);
}

.section4{
background: rgb(180,161,142);
background: linear-gradient(180deg, rgba(180,161,142,0.3) 0%, rgba(255,255,255,1) 100%);
}

.section5{
background: rgb(180,161,142);
background: linear-gradient(0deg, rgba(180,161,142,0.3) 0%, rgba(255,255,255,1) 100%);
}

.section6{
background: rgb(180,161,142);
background: linear-gradient(180deg, rgba(180,161,142,0.3) 0%, rgba(255,255,255,1) 100%);
}
.szo2{
	color: #b38b6d;
}


.section2 .szöveg{
	float: left;
	padding: 50px;
	font-size: 20px;
	border-right: 1px solid grey;
}

.section2 .szöveg h1{
padding-left: 20px ;
}
.section2 .kep{
	vertical-align: top;
    display: inline-block;
    text-align: center;
}

.section2 #nev{
	display: block;
	position: relative;
	top: 30%;
}

.section2 .en{
	position: relative;
	top: 25%;
	width: 45%;
	border-radius: 50%;
	box-shadow: 20px 30px 40px  grey;
}

.section2 .szöveg p{
	border-style: 0px solid ;
	border-color: white;
	padding: 20px;
	transition: 0.2s ease;
}

.section2 .szöveg p:hover{
	box-shadow: 1px 1px 20px 1px;
	transition: 0.2s ease;
	border-radius: 5px;
}

/*szek3*/
.section3{
	
	background-color: white;
	display: flex;
	width: 100%;
	padding-top: 100px;
	padding-left: 50px;
	padding-right: 50px;
	align-items: center;


}

.section3 .slider{
	float: left;
	width: 50%;
	padding: 0px 20px 100px;
	display: flex;
	flex-direction: column;
}

.section3 .s3t1{
	float: right;
	padding: 20px;
	border-style: 0px solid ;
	border-color: white;
	transition: 0.2s ease;
	width: 50%;
}
.section3 .s3t1:hover{
	border-radius: 5px;
	box-shadow: 1px 1px 20px 1px;
	transition: 0.2s ease;
}

.section3 .slider h1{
	text-align: center;
	font-size: 35px;
	
}

.section3 .s3t1 p{
	text-align: center;
	font-size: 20px;

}

.wrapper{
  display: flex;
  max-width: 1200px;
  position: relative;
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: 0px;
  display: none;
}
.wrapper i:last-child{
  right: 0px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  -webkit-box-shadow: 0px 65px 50px 0px #A8A8A8;
  width: 100%;
  border-radius: 5px;
}
.section3 .wrapper .carousel .kep{
	opacity: 1;
	transition: all 0.5s ease;
}

.section3 .wrapper .carousel .kep:hover{
	opacity: 0.8;
	transition: all 0.5s ease;
}

.section3 .wrapper .carousel .kep2{
	opacity: 1;
	transition: all 0.5s ease;
}

.section3 .wrapper .carousel .kep2:hover{
	opacity: 0.8;
	transition: all 0.5s ease;
}

.section3 .wrapper .carousel .kep3{
	opacity: 1;
	transition: all 0.5s ease;
}
.section3 .wrapper .carousel .kep3:hover{
	opacity: 0.8;
	transition: all 0.5s ease;
}

.section3 .wrapper .carousel .kep4{
	opacity: 1;
	transition: all 0.5s ease;
}
.section3 .wrapper .carousel .kep4:hover{
	opacity: 0.8;
	transition: all 0.5s ease;
}

.section3 .wrapper .carousel .kep5{
	opacity: 1;
	transition: all 0.5s ease;
}
.section3 .wrapper .carousel .kep5:hover{
	opacity: 0.8;
	transition: all 0.5s ease;
}

.section3 .wrapper .carousel .kep6{
	opacity: 1;
	transition: all 0.5s ease;
}
.section3 .wrapper .carousel .kep6:hover{
	opacity: 0.8;
	transition: all 0.5s ease;
}


.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 1);
}
.carousel img:first-child{
  margin-left: 0px;
}
@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 1);
  }
}
@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}


/*szek4*/

.section4{
	
	background-color: white;
	display: flex;
	width: 100%;
	padding-top: 70px;
	padding-left: 50px;
	padding-right: 50px;
	align-items: center;

}

.section4 .slider2{
	float: left;
	width: 50%;
	padding: 0px 20px 100px;
}

.section4 .s3t1{
	float: right;
	padding: 20px;
	width: 50%;
border-style: 0px solid ;
	border-color: white;
	transition: 0.2s ease;
}

.section4 .s3t1:hover{
box-shadow: 1px 1px 20px 1px;
	transition: 0.2s ease;
	border-radius: 5px;
	}

.section4 .slider2 h1{
	text-align: center;
	font-size: 35px;d
	
}

.section4 .s3t1 p{
	text-align: center;
	font-size: 20px;

}

.section4 .wrapper2{
  display: flex;
  max-width: 1200px;
  position: relative;
}
.section4 .wrapper2 nav{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.section4 .wrapper2 nav:active{
  transform: translateY(-50%) scale(0.9);
}
.section4 .wrapper2 nav:hover{
  background: #f2f2f2;
}
.section4 .wrapper2 nav:first-child{
  left: 0px;
  display: none;
}
.section4 .wrapper2 nav:last-child{
  right: 0px;
}
.section4 .wrapper2 .carousel2{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  -webkit-box-shadow: 0px 65px 50px 0px #A8A8A8;
  width: 100%;
  border-radius: 5px;
}


.section4 .wrapper2 .carousel2 .kep:hover{
	opacity: 0.8;
	transition: all 0.5s ease;
}

.section4 .wrapper2 .carousel2 .kep{
	opacity: 1;
	transition: all 0.5s ease;
}


.section4 .wrapper2 .carousel2 .kep2:hover{
	opacity: 0.8;
	transition: all 0.5s ease;
}

.section4 .wrapper2 .carousel2 .kep2{
	opacity: 1;
	transition: all 0.5s ease;
}

.section4 .wrapper2 .carousel2 .kep3:hover{
	opacity: 0.8;
	transition: all 0.5s ease;
}

.section4 .wrapper2 .carousel2 .kep3{
	opacity: 1;
	transition: all 0.5s ease;
}

.section4 .wrapper2 .carousel2 .kep4:hover{
	opacity: 0.8;
	transition: all 0.5s ease;
}

.section4 .wrapper2 .carousel2 .kep4{
	opacity: 1;
	transition: all 0.5s ease;
}

.section4 .wrapper2 .carousel2 .kep5:hover{
	opacity: 0.8;
	transition: all 0.5s ease;
}

.section4 .wrapper2 .carousel2 .kep5{
	opacity: 1;
	transition: all 0.5s ease;
}

.section4 .wrapper2 .carousel2 .kep6:hover{
	opacity: 0.8;
	transition: all 0.5s ease;
}

.section4 .wrapper2 .carousel2 .kep6{
	opacity: 1;
	transition: all 0.5s ease;
}



.section4 .carousel2.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.section4 .carousel2.dragging img{
  pointer-events: none;
}
.section4 .carousel2 img{
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 1);
}
.section4 .carousel2 img:first-child{
  margin-left: 0px;
}
@media screen and (max-width: 900px) {
  .carousel2 img{
    width: calc(100% / 1);
  }
}
@media screen and (max-width: 550px) {
  .carousel2 img{
    width: 100%;
  }
}

/*szek5*/
.section5{
	flex-direction: row;
	background-color: white;
	display: flex;
	width: 100%;
	padding-top: 70px;
	padding-left: 50px;
	padding-right: 50px;
	align-items: center;

}

.section5 .slider3{
	float: left;
	width: 50%;
	padding: 0px 20px 100px;
	display: flex;
	flex-direction: column;
}

.section5 .s3t13{
	float: right;
	padding: 20px;
	width: 50%;
border-style: 0px solid ;
	border-color: white;
	transition: 0.2s ease;
}

.section5 .s3t13:hover{
box-shadow: 1px 1px 20px 1px;
	transition: 0.2s ease;
	border-radius: 5px;
	}

.section5 .slider3 h1{
	text-align: center;
	font-size: 35px;d
	
}

.section5 .s3t13 p{
	text-align: center;
	font-size: 20px;

}

.section5 .wrapper3{
  display: flex;
  max-width: 1200px;
  position: relative;
}
.section5 .wrapper3 section{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.section5 .wrapper3 section:active{
  transform: translateY(-50%) scale(0.9);
}
.section5 .wrapper3 section:hover{
  background: #f2f2f2;
}
.section5 .wrapper3 section:first-child{
  left: 0px;
  display: none;
}
.section5 .wrapper3 section:last-child{
  right: 0px;
}
.section5 .wrapper3 .carousel3{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  -webkit-box-shadow: 0px 65px 50px 0px #A8A8A8;
  width: 100%;
  border-radius: 5px;
}
.section5 .wrapper3 .carousel3 .kep:hover{
	opacity: 0.8;
	transition: all 0.5s ease;
}

.section5 .wrapper3 .carousel3 .kep{
	opacity: 1;
	transition: all 0.5s ease;
}


.section5 .wrapper3 .carousel3 .kep2:hover{
	opacity: 0.8;
	transition: all 0.5s ease;
}

.section5 .wrapper3 .carousel3 .kep2{
	opacity: 1;
	transition: all 0.5s ease;
}

.section5 .wrapper3 .carousel3 .kep3:hover{
	opacity: 0.8;
	transition: all 0.5s ease;
}

.section5 .wrapper3 .carousel3 .kep3{
	opacity: 1;
	transition: all 0.5s ease;
}

.section5 .wrapper3 .carousel3 .kep4:hover{
	opacity: 0.8;
	transition: all 0.5s ease;
}


.section5 .wrapper3 .carousel3 .kep4{
	opacity: 1;
	transition: all 0.5s ease;
}

.section5 .wrapper3 .carousel3 .kep5:hover{
	opacity: 0.8;
	transition: all 0.5s ease;
}

.section5 .wrapper3 .carousel3 .kep5{
	opacity: 1;
	transition: all 0.5s ease;
}

.section5 .wrapper3 .carousel3 .kep6:hover{
	opacity: 0.8;
	transition: all 0.5s ease;
}

.section5 .wrapper3 .carousel3 .kep6{
	opacity: 1;
	transition: all 0.5s ease;
}

.section5 .carousel3.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.section5 .carousel3.dragging img{
  pointer-events: none;
}
.section5 .carousel3 img{
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 1);
}
.section5 .carousel3 img:first-child{
  margin-left: 0px;
}
@media screen and (max-width: 900px) {
  .carousel3 img{
    width: calc(100% / 1);
  }
}
@media screen and (max-width: 550px) {
  .carousel3 img{
    width: 100%;
  }
}


/*szek6*/

.section6{
	height: 920px;
	width: 100%;
	background-color: white;
}

.section6 h1{
	padding: 70px;
}

.section6 .suli{
	width: 50%;
	display: flex;
	justify-content: start;
}

.section6 .suli2{
	width: 50%;
	display: flex;
	justify-content: center;

}

.section6 .egesz6{
	display: flex;
	padding-top: 70px	;
}

 /*média*/

@media screen and (max-width: 1280px){
	.section1 h1{
		text-align: center;
		transition: all 0.50s ease;
	}
	header{
		padding: 14px 2%;
		transition: .2s ease;
	}
	.navbar a{
		padding: 5px 0;
		margin: 0px 20px;
	}
		
	.section2 .en{
		position: relative;
		top: 20%;
		width: 65%;
	}
	
	.section2 #nev{
	display: block;
	position: relative;
	top: 25%;
}

	.section3 .slider{
		transition: 0.3s ease;
	}

}

@media (max-width: 1090px){
	.section2 p{
		font-size: 18px;
	}
	.section3 .s3t1 p{
		font-size: 18px;
	}
	.section3 .carousel {
		width: 100%;
	}

	.section3 .slider{
		transition: 0.3s ease;
	}

	.section4 .s3t1 p{
		font-size: 18px;
	}
	.section4 .carousel {
		width: 100%;
	}



	.section5 .s3t13 p{
		font-size: 18px;
	}
	.section5 .carousel3 {
		width: 100%;
	}


}
@media (max-width: 860px){
	header{
		background-color:#413839 ;
	}
	#menu-icon{
		display: block;
	}
	.navbar{
		position: absolute;
		top:100%;
		right: -100%;
		width: 100%;
		height: 265px;
		background-color: #413839;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		transition: all .50s ease;
		padding-top: 6px;
	}

	.navbar a{
		display: block;
		margin: 12px 0px;
		padding: 0px 25px;
		transition: all .50s ease;
		text-decoration: none;
	}
	.navbar a:hover{
		color: white;
		background-color: #413839;
		transform: translatex(5px);
		width: 0%;
		height: 0%;
		padding: 0%;


	}
	.navbar a.active{
		color: white;
		font-weight: bold;
		font-size: 22px;
		background-color: #413839;
		width: 0%;
		height: 0%;
		padding: 0%;
	}

	.navbar.open{
		right: 0%;
	}

	.section1 h1{
		text-align: center;
		transition: all .50s ease;
	}

	.section2 .kep .en{
		width: 70%;
		height: auto;
		top: 25%;
	}
	.section2 .kep #nev{
		top: 30%;
	}

	.section2 .szöveg{
	float: left;
	padding: 50px;
	font-size: 20px;
	border-right: 0px solid grey;
	
}

	.section3 .slider h1{
		text-align: center;
		font-size: 30px;

	}
	.section3 .s3t1{
		width: 70%;
	}

	.section3 .slider {
		text-align: center;
		transition: 0.3s ease;
		padding: 10px;
		width: 70%;
	}

	.section3{
		flex-direction: column;
		padding-top: 70px;
	}

	.section4 .slider2 h1{
		text-align: center;
		font-size: 30px;
	}

	.section4 .slider2{
		text-align: center;
		width: 70%;
		padding: 10px;
	}

	.section3 .wrapper .carousel{
		-webkit-box-shadow: 0px 0px 50px 0px #A8A8A8;
	}

	.section4 .s3t1{
		width: 70%;
	}

	.section4 .wrapper2 .carousel2{
		-webkit-box-shadow: 0px 0px 50px 0px #A8A8A8;
	}


	.section4{
		flex-direction: column-reverse;
		padding-top: 70px;
	}

	.section5 .slider3 h1{
		text-align: center;
		font-size: 30px;
	}

	.section5{
		flex-direction: column;
		padding-top: 70px;
	}

	.section5 .s3t13{
		width: 70%;
	}
	.section5 .slider3{
		width: 70%;
		padding: 10px;
	}
.section5  .wrapper3 .carousel3{
		-webkit-box-shadow: 0px 0px 50px 0px #A8A8A8;
	}

}





@media(max-width:440px){
	.section1 h1{
		text-align: center;
	}

	.section1{
		background-image: url("wall2.jpg");
		background-repeat: no-repeat;
		background-position: center;
		
		background-attachment: ;
	}


	/*.section2{
		display: flex;
		flex-direction: column;
		padding-bottom:20px ;
	}*/

	.section2 .szöveg h1{
		text-align: center;
	}

	.section2{
		display: flex;
		flex-direction: column-reverse;
		padding-top:65px;
	}
	.section2 .szöveg p{
		text-align: center;
	}

		.section2 .szöveg h1{
		opacity: 0;
	}

	.section2 .en{
		box-shadow: 10px 5px 30px  grey;
		width: 50%;
		height: auto;
	}

	.section2 #nev{
	display: block;
	position: relative;
	top: 50%;
}
	.section3 .slider{
	padding-top: 10px;
	width: 100%;
}

 .section3 .s3t1{
 	width: 100%;
 	transition: 0.2s ease;
 }

 .section4 .s3t1{
 	width: 100%;
 	transition: 0.2s ease;
 }


.section3 .slider .carousel{
	box-shadow: 0px 0px 0px 0px;
}

.section4 .slider2 .carousel2{
	box-shadow: 0px 0px 0px 0px;
}

.section4 .slider2{
	padding-top: 10px;
	width: 100%;

}
  .section5 .s3t13{
 	width: 100%;
 	transition: 0.2s ease;
 }
.section5 .slider3 .carousel3{
	box-shadow: 0px 0px 0px 0px;
}
.section5 .slider3{
	box-shadow: 0px 0px 0px 0px;
	padding-top: 10px;
	width: 100%;

}

